
html{
    background: url(https://industria-digital-cetim.github.io/CSS/bck.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

nav{
    background-color: rgb(252, 167, 128);
    width: 100%;
    margin-bottom:1em;
}
.links_nav{
    border-style: hidden;
    background: rgb(252, 167, 128);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
}

.links_nav:hover{
    background-color: rgb(252, 132, 52);
    color: white
}
#registry{
    width:80%;
}
.input_reg{
    width:100%;
    padding:10px;
    margin:2px;
    border: rgb(255, 187, 142);
    border-style: solid;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 550;
    border-radius: 1em
}

.button_class{
    margin:1em;
    padding:1em;
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1em;
    background-color: rgb(245, 211, 191);
    height: 60px;
    width: 120px;
    
}

.selector_crypto{
    margin: 1em;
    padding: 0.5em;
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-width: 3px;
}

.Presult {
    border: 2px solid black;
    width:60%;
    border-radius: 1em;
    margin:2em;
    padding:1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color:rgb(252, 132, 52)

}
.Table{
    padding:0.5em;
    margin:1em;
    border-collapse: collapse;
    width:50%;
}

#table_check_balances th{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid black;
    text-align: left;
    background-color: #fcbd5e;
    color: black;
    font-size: 20px;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#table_check_balances td{
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid black;
    /*background-color: rgb(253, 203, 174);*/
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
tr:nth-child(even) {background: rgb(252, 196, 151)}
tr:nth-child(odd) {background: rgb(245, 211, 191)}


#table_check_previous th{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid black;
    text-align: left;
    background-color: #fcbd5e;
    color: black;
    font-size: 20px;
    font-weight: 550;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#table_check_previous td{
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tablaPrueba tr:nth-child(even){background-color: #f2f2f2;}
#tablaPrueba tr:nth-child(odd){background-color: #e5f4f7;}
h3{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:1em;
    color:rgb(252, 132, 52);
    text-transform: uppercase;
}

h1{
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0.5em;
    color:rgb(252, 132, 52);
    text-transform: uppercase;
}
